<p id="notice"><%= notice %></p>

<p>
  <strong>Omimid:</strong>
  <%= @omim.omimid %>
</p>

<p>
  <strong>Omimurl:</strong>
  <%= @omim.omimurl %>
</p>

<p>
  <strong>Moodofinheritnce:</strong>
  <%= @omim.moodofinheritnce %>
</p>

<%= link_to 'Edit', edit_omim_path(@omim) %> |
<%= link_to 'Back', omims_path %>
