<p id="notice"><%= notice %></p>

<h1>Listing Externalsoforms</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @externalsoforms.each do |externalsoform| %>
      <tr>
        <td><%= externalsoform.url %></td>
        <td><%= link_to 'Show', externalsoform %></td>
        <td><%= link_to 'Edit', edit_externalsoform_path(externalsoform) %></td>
        <td><%= link_to 'Destroy', externalsoform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Externalsoform', new_externalsoform_path %>
