<%= form_for(@isaproneighbor) do |f| %>
  <% if @isaproneighbor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isaproneighbor.errors.count, "error") %> prohibited this isaproneighbor from being saved:</h2>

      <ul>
      <% @isaproneighbor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :neighbor %><br>
    <%= f.text_field :neighbor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
