<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @misfoldmodle.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @misfoldmodle.type %>
</p>

<p>
  <strong>Refseqm:</strong>
  <%= @misfoldmodle.refseqm %>
</p>

<p>
  <strong>Refseqp:</strong>
  <%= @misfoldmodle.refseqp %>
</p>

<p>
  <strong>Nuclutidechange:</strong>
  <%= @misfoldmodle.nuclutidechange %>
</p>

<p>
  <strong>Molecularconsequence:</strong>
  <%= @misfoldmodle.molecularconsequence %>
</p>

<p>
  <strong>Aminoacidechange:</strong>
  <%= @misfoldmodle.aminoacidechange %>
</p>

<%= link_to 'Edit', edit_misfoldmodle_path(@misfoldmodle) %> |
<%= link_to 'Back', misfoldmodles_path %>
