<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @twodstructureregion.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @twodstructureregion.end %>
</p>

<p>
  <strong>Regiontype:</strong>
  <%= @twodstructureregion.regiontype %>
</p>

<%= link_to 'Edit', edit_twodstructureregion_path(@twodstructureregion) %> |
<%= link_to 'Back', twodstructureregions_path %>
