<p id="notice"><%= notice %></p>

<h1>Listing Gos</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Url</th>
      <th>Description</th>
      <th>Annotations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gos.each do |go| %>
      <tr>
        <td><%= go.id %></td>
        <td><%= go.url %></td>
        <td><%= go.description %></td>
        <td><%= go.annotations %></td>
        <td><%= link_to 'Show', go %></td>
        <td><%= link_to 'Edit', edit_go_path(go) %></td>
        <td><%= link_to 'Destroy', go, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Go', new_go_path %>
