<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @go.id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @go.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @go.description %>
</p>

<p>
  <strong>Annotations:</strong>
  <%= @go.annotations %>
</p>

<%= link_to 'Edit', edit_go_path(@go) %> |
<%= link_to 'Back', gos_path %>
