<p id="notice"><%= notice %></p>

<h1>Listing Synonymproteins</h1>

<table>
  <thead>
    <tr>
      <th>Synonymname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synonymproteins.each do |synonymprotein| %>
      <tr>
        <td><%= synonymprotein.synonymname %></td>
        <td><%= link_to 'Show', synonymprotein %></td>
        <td><%= link_to 'Edit', edit_synonymprotein_path(synonymprotein) %></td>
        <td><%= link_to 'Destroy', synonymprotein, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synonymprotein', new_synonymprotein_path %>
