<p id="notice"><%= notice %></p>

<h1>Listing Pdbs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Identificationmethod</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdbs.each do |pdb| %>
      <tr>
        <td><%= pdb.id %></td>
        <td><%= pdb.name %></td>
        <td><%= pdb.identificationmethod %></td>
        <td><%= pdb.url %></td>
        <td><%= link_to 'Show', pdb %></td>
        <td><%= link_to 'Edit', edit_pdb_path(pdb) %></td>
        <td><%= link_to 'Destroy', pdb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdb', new_pdb_path %>
