<%= form_for(@disjointneighbor) do |f| %>
  <% if @disjointneighbor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disjointneighbor.errors.count, "error") %> prohibited this disjointneighbor from being saved:</h2>

      <ul>
      <% @disjointneighbor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :neighbor %><br>
    <%= f.text_field :neighbor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
