<p id="notice"><%= notice %></p>

<h1>Listing Intersectionneighbors</h1>

<table>
  <thead>
    <tr>
      <th>Neighbor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @intersectionneighbors.each do |intersectionneighbor| %>
      <tr>
        <td><%= intersectionneighbor.neighbor %></td>
        <td><%= link_to 'Show', intersectionneighbor %></td>
        <td><%= link_to 'Edit', edit_intersectionneighbor_path(intersectionneighbor) %></td>
        <td><%= link_to 'Destroy', intersectionneighbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Intersectionneighbor', new_intersectionneighbor_path %>
