<%= form_for(@posttranslationalmodification) do |f| %>
  <% if @posttranslationalmodification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posttranslationalmodification.errors.count, "error") %> prohibited this posttranslationalmodification from being saved:</h2>

      <ul>
      <% @posttranslationalmodification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :lenght %><br>
    <%= f.number_field :lenght %>
  </div>
  <div class="field">
    <%= f.label :featurekey %><br>
    <%= f.text_field :featurekey %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
