<p id="notice"><%= notice %></p>

<h1>Listing Posttranslationalmodifications</h1>

<table>
  <thead>
    <tr>
      <th>Keywords</th>
      <th>Description</th>
      <th>Position</th>
      <th>Lenght</th>
      <th>Featurekey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posttranslationalmodifications.each do |posttranslationalmodification| %>
      <tr>
        <td><%= posttranslationalmodification.keywords %></td>
        <td><%= posttranslationalmodification.description %></td>
        <td><%= posttranslationalmodification.position %></td>
        <td><%= posttranslationalmodification.lenght %></td>
        <td><%= posttranslationalmodification.featurekey %></td>
        <td><%= link_to 'Show', posttranslationalmodification %></td>
        <td><%= link_to 'Edit', edit_posttranslationalmodification_path(posttranslationalmodification) %></td>
        <td><%= link_to 'Destroy', posttranslationalmodification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Posttranslationalmodification', new_posttranslationalmodification_path %>
