<%= form_for(@diseasesynonym) do |f| %>
  <% if @diseasesynonym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diseasesynonym.errors.count, "error") %> prohibited this diseasesynonym from being saved:</h2>

      <ul>
      <% @diseasesynonym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :synonym %><br>
    <%= f.text_field :synonym %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
