<p id="notice"><%= notice %></p>

<h1>Listing Typedefinitionproteinneighbors</h1>

<table>
  <thead>
    <tr>
      <th>Neighbor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typedefinitionproteinneighbors.each do |typedefinitionproteinneighbor| %>
      <tr>
        <td><%= typedefinitionproteinneighbor.neighbor %></td>
        <td><%= link_to 'Show', typedefinitionproteinneighbor %></td>
        <td><%= link_to 'Edit', edit_typedefinitionproteinneighbor_path(typedefinitionproteinneighbor) %></td>
        <td><%= link_to 'Destroy', typedefinitionproteinneighbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typedefinitionproteinneighbor', new_typedefinitionproteinneighbor_path %>
