<p id="notice"><%= notice %></p>

<h1>Listing Typedefinitiondiseaseneighbors</h1>

<table>
  <thead>
    <tr>
      <th>Neighbor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typedefinitiondiseaseneighbors.each do |typedefinitiondiseaseneighbor| %>
      <tr>
        <td><%= typedefinitiondiseaseneighbor.neighbor %></td>
        <td><%= link_to 'Show', typedefinitiondiseaseneighbor %></td>
        <td><%= link_to 'Edit', edit_typedefinitiondiseaseneighbor_path(typedefinitiondiseaseneighbor) %></td>
        <td><%= link_to 'Destroy', typedefinitiondiseaseneighbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typedefinitiondiseaseneighbor', new_typedefinitiondiseaseneighbor_path %>
