<p id="notice"><%= notice %></p>

<h1>Listing Is Aproteins</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Neighbors</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @is_aproteins.each do |is_aprotein| %>
      <tr>
        <td><%= is_aprotein.id %></td>
        <td><%= is_aprotein.name %></td>
        <td><%= is_aprotein.neighbors %></td>
        <td><%= link_to 'Show', is_aprotein %></td>
        <td><%= link_to 'Edit', edit_is_aprotein_path(is_aprotein) %></td>
        <td><%= link_to 'Destroy', is_aprotein, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Is aprotein', new_is_aprotein_path %>
