<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @is_aprotein.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @is_aprotein.name %>
</p>

<p>
  <strong>Neighbors:</strong>
  <%= @is_aprotein.neighbors %>
</p>

<%= link_to 'Edit', edit_is_aprotein_path(@is_aprotein) %> |
<%= link_to 'Back', is_aproteins_path %>
