<%= form_for(@protein) do |f| %>
  <% if @protein.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protein.errors.count, "error") %> prohibited this protein from being saved:</h2>

      <ul>
      <% @protein.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uniprot_id %><br>
    <%= f.text_field :uniprot_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br>
    <%= f.text_area :sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
