<%= form_for(@conservedregion) do |f| %>
  <% if @conservedregion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conservedregion.errors.count, "error") %> prohibited this conservedregion from being saved:</h2>

      <ul>
      <% @conservedregion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.number_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.number_field :end %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
