<p id="notice"><%= notice %></p>

<h1>Listing Transcriptmodificationregions</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Modification</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transcriptmodificationregions.each do |transcriptmodificationregion| %>
      <tr>
        <td><%= transcriptmodificationregion.start %></td>
        <td><%= transcriptmodificationregion.end %></td>
        <td><%= transcriptmodificationregion.modification %></td>
        <td><%= link_to 'Show', transcriptmodificationregion %></td>
        <td><%= link_to 'Edit', edit_transcriptmodificationregion_path(transcriptmodificationregion) %></td>
        <td><%= link_to 'Destroy', transcriptmodificationregion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transcriptmodificationregion', new_transcriptmodificationregion_path %>
